html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.controls {
    position: absolute;
    top: 50%;
    left: 20%;
    height: 100px;
    width: 100px;
    margin-top: -50px;
}
.controls img {
    height: 100%;
    width: 100%;
}

