html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1 {
    margin-top: 0px;
    font-size: 22px;
}

svg > * {
    cursor: pointer;

}

svg > text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

#controls {
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
}

a.button {
    display: inline-block;
    margin: 0 0 8px 0;
    padding: 4px 4px;
    vertical-align: top;
    text-align: center;
    background: linear-gradient(#afafaf, #6f6f6f);
    border: 2px #000000 solid;
    color: #0000ff;
    text-decoration: none;
}
a.button:hover {
    background: linear-gradient(#6f6f6f, #afafaf);
}
a.button.toggle.selected {
    background: #494949;
}

img#smiley {
    cursor: pointer;
}

#container {
    height: 100%;
    margin: 0;
    width: 100%;
}

#menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
}

    #menu-content {
        position: absolute;
        top: 15%;
        left: 15%;
        width: 65%;
        padding: 6px;
        overflow: hidden;
        text-align: center;
        background: #ffffff;
        border: 1px #000000 solid;
    }

        #menu-content-body {
            width: 100%;
            text-align: left;
        }

#board {
    height: 100%;
    margin: 0;
    width: 100%;
}

@media screen and (orientation:portrait) {
    #controls {
        top: 0;
        left: 50%;
        height: 36px;
        width: 250px;
        margin-left: -125px;
    }

    img#smiley {
        height: 100%;
    }
}

@media screen and (orientation:landscape) {
    #controls {
        top: 50%;
        left: 0;
        height: 200px;
        width: 54px;
        margin-top: -100px;
    }

    a.button {
        width: 100%;
    }

    img#smiley {
        width: 100%;
    }
}

